aiohttp==3.8.3
aiohttp-socks==0.8.0
aiosignal==1.3.1
akad==0.11.1
aniso8601==9.0.1
anyio==3.6.2
api.video==1.2.8
async-timeout==4.0.2
attrs==22.2.0
beautifulsoup4==4.11.2
Brotli==1.0.9
bs4==0.0.1
cached-property==1.5.2
certifi==2022.6.15
chardet==3.0.4
charset-normalizer==2.0.12
click==8.1.3
DateTime==5.0
distlib==0.3.6
ez-setup==0.9
fake-useragent==1.1.1
filelock==3.9.0
frozenlist==1.3.3
futures==3.0.5
geopy==2.3.0
googletrans==3.0.0
googletransx==2.4.2
greenlet==2.0.2
gTTS==2.3.1
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2023.1.1
html5lib==1.1
httpcore==0.9.1
httpx==0.13.3
humanfriendly==10.0
hyper==0.7.0
hyperframe==5.2.0
idna==3.3
itsdangerous==2.1.2
Jinja2==3.1.2
justgood==2.2.9
linepy==3.0.8
livejson==1.9.1
MarkupSafe==2.1.2
mechanize==0.4.8
msgpack==1.0.4
multidict==6.0.4
mutagen==1.46.0
Naked==0.1.32
oauthlib==3.2.2
pafy==0.5.5
platformdirs==2.6.2
pyasn1==0.4.8
pycryptodomex==3.17
pycurl==7.45.2
PyQRCode==1.2.1
pysrt==1.1.2
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2022.7.1
PyYAML==6.0
requests==2.28.0
requests-oauthlib==1.3.1
rfc3986==1.5.0
rsa==4.9
schedule==1.1.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.3.2.post1
spark-parser==1.8.9
thrift==0.16.0
tweepy==4.12.1
twint==2.1.21
twitter==1.17.0
TwitterFollowBot==2.0.1
twython==3.9.1
urllib3==1.26.9
urwid==2.1.2
virtualenv==20.18.0
vk-api==11.9.8
vk-url-scraper==0.3.10
webencodings==0.5.1
websockets==10.4
Werkzeug==2.2.3
wikipedia==1.4.0
xdis==5.0.13
yarl==1.8.2
youtube-dl==2021.12.17
yt-dlp==2022.7.18
zalgo-text==0.6
zope.interface==5.5.2
